@using MultiDates.Fields
@using MultiDates.Services
@{
    var field = (DateRangeField)Model.Field;
    var dateRange = WorkContext.Resolve<IMultiDateService>().ParseDateRange(field.Value);    
}
@if (dateRange.Item1 != default(DateTime)) {
    <p>
        From date: @dateRange.Item1.ToLongDateString()<br/>
        To date: @dateRange.Item2.ToLongDateString()
    </p>
}