@using MultiDates.Fields
@using MultiDates.Services
@{
    var field = (MultiDateField)Model.Field;
    var dates = WorkContext.Resolve<IMultiDateService>().ParseMultiDates(field.Value);
}
@if (dates != null && dates.Any()) {
    <p>
        Dates:<br/>
        @foreach (var t in dates) {
            @t.ToLongDateString()<br/>
        }
    </p>
}