@using MultiDates.Fields
@{
    var field = (MultiDateField)Model.Field;
}
@if (field.Dates.Any()) {
    <p>
        Dates:<br/>
        @foreach (var t in field.Dates) {
            @t.ToLongDateString()<br/>
        }
    </p>
}